
body{ background-image:url(../images/submitpage-bg.jpg); background-repeat:no-repeat;background-color:#95bdf0 !important;}
.menuhdr{ background-color:#d9edf7; color:#337ab7; height:40px; padding:10px;}
.CONTENT{ color:#000;}
